@model IEnumerable<CS.Common.Models.ViewModels.ChallengePartialViewModel>

<div class="jumbotron">
    @foreach (var challenge in Model)
    {
        <div class="panel panel-default text-center">
            <div class="panel-body">
                @challenge.Description
                <h1 class="panel-title text-center">
                    <strong><a class="btn btn-danger btn-lg btn-block" href="challenges/@challenge.Id">@challenge.Name</a></strong>
                </h1>
            </div>
        </div>
    }
</div>